.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* 
#wrapper {
    background-image: linear-gradient(135deg,rgb(209, 225, 235), violet, rgb(143, 238, 34));
} */

/* #wrapper {
    display: grid;
    grid-template-columns: auto auto;
} */