.main {
    background-color: #be50ca;
    padding: 10px;
    color: rgb(10, 11, 12);
    width: 100%;
}

h2 {
    margin-left: 100px;
}

p {
    color: rgb(8, 77, 104);
    text-indent: 30px;
}

.open {
    cursor: pointer;
    font-size: 30px;
}
