.main {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #be50ca;
    padding: 10px;
    color: rgb(10, 11, 12);
    width: 100%;
}

.open {
    cursor: pointer;
    font-size: 30px;
    float: left;
}

h2 {
    text-align: center;
    /* clear: left; */
}

p {
    color: rgb(8, 77, 104);
    text-indent: 30px;
}

.login {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.login a {
    text-decoration: none;
    color: white;
}
.login a:hover {
    color: white;
}
