.sidebar {
    list-style-type: none;
    /* remove browser default settings */
    margin: 0;
    padding: 0;
    width: 0px;
    background-color: #f1f1f1;
    /* background: #7386D5;  */
    position: fixed;
    overflow: auto;
    z-index: 1;
    height: 100%;

    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    display: block;
    padding: 8px 12px;

    color: #000;
    text-decoration: none;
    font-size: 25px;
}

.sidebar a.active {
    background-color: #04aa6d;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    margin-left: 50px;
}


a[data-toggle="collapse"] {
    position: relative;
}

.sidebar ul a {
    font-size: 15px;
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /* background: #6d7fcc; */
}